.my-custom-menu{
    --width: 200px;
}
.icon{
    padding-left: 15px;

}
.menu-item
{
    size: 100px;
    font-size: 40px; 
}
ion-icon {
    font-size: 30px; //Preferred size here
}
ion-item {
    font-size: 20px;
}